
  <h1>Post and Share your words to your friends!</h1>
  <textarea rows = "10" cols = "100" name="post" id="post"></textarea>
  <br>
  <button type="button" class="btn btn-primary btn-md">Post</button>


