
<br>
<p id="notice"><%= notice %></p>

<h4><strong>New Post:</strong></h4>
<h5><%= @post.content %></h5>

<!--
<h4>
  <strong>New Post:</strong><br>
  <%= @post.content %>
</h4>   -->

<!--<p>
  <strong>Userinfo:</strong>
  <%= @post.userinfo %>
</p>  -->
